/* variables */

:root {
  --asosiy-rang: #00BAFC;
  --och-kok: #c7eeff;
  --seriy: #fafafa;
}

/* variables end */

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  /* background-color:#f0dd70;  */
}

section {
  padding: 5rem 0;
}
section h3{
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}



/* reset end */

/* utils */

.container {
  width: 1200px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.portion {
  flex: 1;
}

.text-center{
  text-align: center;
}

.btn {
  all: unset;
  background-color: var(--asosiy-rang);
  color: #fff;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;

}
.btn:hover{
  background-color:#00BAFCCC ;
  
}
.btn:active{
  background-color:  #00BAFC99;

}
.order1{
  order: 1;
}
.order2{
  order: 2;
}
/* utils end */

/* header#main-header */
header#main-header{
    background-color: #fff;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
z-index: 999;
}
header#main-header ul{
    font-size: 15px;
    font-weight: 400;
    gap: 2rem;
    margin-left: auto;
}

/* header#main-header end */

    /* #hero-page */
#hero-page h1{
    font-size: 30px;
    font-weight:700;
    line-height: 39px;
    padding-right: 90px;
}
#hero-page p{
padding: 1rem 0;
font-size: 1rem;
font-weight: 400;
line-height: 24px;
text-align: left;
padding-right: 120px !important;

}

/* #hero-page end*/ 
 /* #Xizmatlar */
.section-one-p{
  margin: 2rem 0;
padding: 0 350px;
  font-size: 16px;
 
}
.xizmatlar-card{
  width: 320px ;
  height: 260px;
color: inherit;
text-decoration: none;
background: #FFFFFF;
box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
border-radius: 5px;
}
.xizmatlar-card:hover{
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}
.xizmatlar-card:active{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.xizmatlar-card1:hover{
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}
.xizmatlar-card1:active{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.xizmatlar-img{
  margin-top: 1.5rem;
}
.xizmatlar-card12{
  margin: 0 90px;
  
}
.container-card2{
  width: 850px;
  margin: 50px auto;
}
.xizmatlar-card2{
  margin: 0 35px;
  
}
.xizmatlar-a{
  cursor: pointer;
  width: 100%;
}
.xizmatlar-h4{
margin: 1rem 0;
font-size: 20px;
}
.xizmatlar-btn2{
  color: var(--asosiy-rang);
  text-decoration: var(--asosiy-rang) !important;

}
/* #Xizmatlar end */

/* Biz qanday ishlaymiz? */ 
.card-ish1{
  flex: 1;
}
.card-ish2{
  flex: 2;
  vertical-align: middle;
  display: flex;
  align-items:center;
  padding: 1rem;
}
.card-talab-p{
  margin: 0.5rem 0;

}

/* Biz qanday ishlaymiz? end*/


/* Buyurtma qilish */
#Buyurtma{
  height: 600px;
  background-color: var(--asosiy-rang);
}
section#Buyurtma h3 {
  color: #fff;
 
}
section#Buyurtma p {
  color: #fff;
  font-weight: 400;
font-size: 16px;
}
.buyurtma-form{
 height: 340px;
width: 400px;
border-radius: 5px;
padding: 24px;
background-color: #fff;

}
.card-input{
height: 56px;
width: 300px;
border-radius: 5px;
padding: 16px;
margin: 10px ;

}
.card-input-type{
  height: 56px;
width: 300px;
border-radius: 5px;
padding: 16px;
background-color: #F3F3F3;
border-color:transparent;
}
.btn-buyurtma{
  width: 167px;
  height: 40px;
}
/* Buyurtma qilish end */
/* footer */
#footer{
height: 338px;
background-color: #000;
border-radius: 0px;
color: #fff;
}
.card-footer-info{
  width: 320px;
  margin: 56px 100px;
}

.footer-h4{
  margin-bottom:1rem ;
  font-weight: 700;
font-size: 20px;
}
.card-footer-link{
  width: 150px;
  margin: 56px 0px;
}
.card-footer-infor{
    width: 150px;
  margin: 56px 50px;
}
.footer-li{
   padding: 5px 0;
}
.footer-li3{
  padding: 5px 0;
}
.a-footer3{
  display: flex;
  align-items:center;

}
.telegram-footer{
  padding-left: 10px;
}
/* footer end */

/* page2 xizmatlar */
#Xizmat-page2{
  height: 284px;
width: 1300px;
border-radius: 0px;
padding: 72px 0px 72px 0px;


}
.Xizmat-page2-p{
  text-align: center;
 
  padding: 10px 200px;
 
}
/* page2 xizmatlar end*/